.about {
  padding: 48px 16px;

  display: grid;

  
}

.about__image {
  position: relative; /* necessário para Image com fill */
  width: 100%;
  margin: 2rem auto 0;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.about__center {
  justify-self: center;
  align-self: center;
}

.image {
  object-fit: cover;
}
