.animalProfile {
  position: relative;
  display: grid;
  grid-template-columns: 100%;

  width: 100%;
  margin-top: 72px;
  padding: 0 16px 48px 16px;
  gap: 16px;
  color: var(--color-text);
  max-width: 1200px;
}

.profileContainer {
  display: grid;
  gap: 24px;
}
.animalGalery__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.adoptionFee__container {
  width: 100%;
  background-color: var(--color3);
  padding: 16px;
  margin-top: 24px;
  border: 1px solid hsl(var(--border));
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.184);
}
.adoptionFee__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adoptionFee__title {
  font-size: 16px;
  color: var(--color4);
}
.adoptionFee__value {
  font-size: 24px;
  font-weight: bold;
  color: var(--color4);
}

.adoptionFee__note {
  margin-top: 4px;
  color: var(--color4);
  font-size: 12px;
}

.profileAbout {
  background-color: var(--color2);
  width: 100%;
  display: flex;
  padding: 16px;
}
.profileAdoptForm {
  padding: 16px;
  max-width: 768px;
  margin: auto;
}
.buttonBack__container {
  max-width: 100px;
  margin-top: 16px;
  position: absolute;

  z-index: 1;
  left: 16px;
  top: -72px;
}
.buttonBack__container a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .adoptionFee__title {
    font-size: 16px;
  }

  .adoptionFee__note {
    font-size: 14px;
  }
}

@media screen and (min-width: 860px) {
  .animalProfile {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-self: center;
    margin-top: 96px;
    padding: 0 24px 36px 24px;
  }
  .buttonBack__container {
    left: 24px;
  }
  .profileAbout {
    padding: 36px 24px;
  }
  .profileAdoptForm {
    padding: 36px 24px;
  }
}
@media screen and (min-width: 1024px) {
  .animalProfile {
    gap: 26px;
  }
  .profileAbout {
    padding: 48px 96px;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .animalProfile {
    padding: 0 36px 96px 36px;
  }
  .buttonBack__container {
    left: 36px;
  }
  .profileAbout {
    padding: 48px 96px;
  }
}
