.toHelp{
  padding: 48px 16px;
}

.toHelp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.toHelp__center {
  text-align: center;
}

.toHelp__cards{
  padding: 48px 0;

  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 24px;
}