.adoptReq {
  width: 100%;
  max-width: 1400px;
}
.adoptReq__header {
  max-width: 900px;
}
.adoptReq__header__title {
  font-size: 30px;
  line-height: 40px;
  color: var(--color4);
}
.adoptReq__text {
  margin-top: 16px;
  line-height: 24px;
}
.adoptReq__reqList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0;
}
.adoptReq__reqList__item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.adoptReq__reqList__item__text {
  line-height: 24px;
}
/* Estilo do aside */

.adoptReq__aside {
  background-color: #fffbeb;
  color: #b45309;
  border: 1px solid hsl(var(--border));
  border-radius:8px;
  padding: 16px;
  font-size: 14px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.adoptReq__aside__content span {
  color: #d97706;
  font-size: 16px;
}
.adoptReq__aside__content p {
  margin-top: 4px;
}