.contactHero {
  color: var(--color-text);
  background-color: var(--color2);
  padding: 48px 16px;
  width: 100%;
}

.contactHero__wrapper {
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
}

.contactHero__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactHero__header__title {
  margin-top: 16px;
  font-size: 30px;
  line-height: 40px;
  color: var(--color4);
  text-align: center;
}

.contactHero__header__description {
  text-align: center;
  margin-top: 16px;
  max-width: 900px;
}

@media screen and (min-width: 640px) {
  .contactHero__header__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .contactHero {
    padding: 96px 24px;
  }

  .contactHero__header__title {
    font-size: 48px;
  }

  .contactHero__header__description {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .contactHero {
    padding: 128px 24px;
  }

  .contactHero__header__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .contactHero__header__description {
    font-size: 20px;
  }
}
