.profileAbout__container {
  max-width: 968px;
  width: 100%;
  color: var(--color-text);
  display: grid;

  gap: 32px;
  line-height: 1.6;
}

.profileAbout__content h2 {
  color: var(--color4);
  margin-bottom: 8px;
  font-size: 30px;
}
.profileAbout__content p {
  font-size: 16px;
  margin-top: 16px 0px 0px;
}

@media screen and (min-width: 860px) {
  .profileAbout__container {
    gap: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .profileAbout__container {

    max-width: 1024px;
  }
}
