.feedback{
  background-color: var(--color2);
  padding: 48px 16px;

}
.feedback__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.feedback__center{
  text-align: center;
}
.feedback__cards{
  margin: 48px 0;
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 24px;
}