.animalProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  gap: 16px;
  color: var(--color-text);
}
.profileContainer {
  display: grid;
  gap: 24px;
}


.adoptionFee__container {
  width: 100%;
  background-color: var(--color3);
  padding: 16px;
  margin-top: 24px;
  border: 1px solid hsl(var(--border));
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.184);
}
.adoptionFee__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adoptionFee__title {
  font-size: 16px;
  color: var(--color4)

}
.adoptionFee__value{
  font-size: 24px;
  font-weight: bold;
  color: var(--color4)
}

.adoptionFee__note {
  margin-top: 4px;
  color: var(--color4);
  font-size: 12px;
}
