.about {
  padding: 48px 16px;
}
.about__wrapper {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
  display: grid;
  align-items: center;
  justify-items: center;
}

.about__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 48px;
}
.about__image {
  position: relative; 
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: 2rem auto 0;
  border-radius: 5px;
  overflow: hidden;
}

.image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  color: transparent;
  border-radius: 8px;
}

.about__title {
  margin-top: 16px;
  font-size: 30px;
  color: var(--color4);
  text-align: center;
}
.about__subtitle {
  margin-top: 25px;
  font-size: 20px;
  color: var(--color4);
}

.about__header__text {
  margin-top: 8px;
  font-size: 16px;
  text-align: justify;
  color: var(--color-text);
  line-height: 24px;
}
.about__text {
  margin-top: 8px;
  font-size: 16px;
  color: var(--color-text);
  line-height: 24px;
}
@media screen and (min-width: 640px) {
  .about__title {
    font-size: 36px;
  }
  .about__header__text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding: 96px 24px;
  }
  .about__title {
    font-size: 48px;
  }
  .about__header__text {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .about__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    align-items: center;

    padding: 48px 0;
  }
  .about__image {
    margin: 0 auto;
  }
}
