.photosContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);

  gap: 8px;
}
.photoMain {
  position: relative;
  grid-area: 1 / 1 / 2 / 4;
  aspect-ratio: 4/3;
}
.photoSecondary {
  position: relative;
  aspect-ratio: 1/1;
}

.photoMain img,
.photoSecondary img {
  border-radius: 8px;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
