.title {
  margin-top: 16px;
  font-size: 30px;
  color: var(--color4);
}

.secondary_title {
  margin-top: 16px;
  font-size: 24px;
  color: var(--color-white);
}

.subtitle {
  margin-top: 25px;
  font-size: 20px;
  color: var(--color4);
}

.text {
  margin-top: 8px;
  font-size: 16px;
  color: var(--color-text);
  line-height: 24px;
}

@media screen and (min-width: 640px) {
  .title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {

  .title {
    font-size: 48px;
  }
  .text {
    font-size: 20px;
    line-height: 32px;
  }
}
