.title {
  margin-top: 16px;
  font-size: 30px;
  color: var(--color4);
}

.secondary_title {
  margin-top: 16px;
  font-size: 24px;
  color: var(--color-white);
}

.subtitle {
  margin-top: 25px;
  font-size: 20px;
  color: var(--color4);
}

.text {
  margin-top: 8px;
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.4rem;
}

