:root {
  /* Colores */
  --color1: #0ea5e9;
  --color2: #f0f9ff;
  --color3: #e0f2fe;
  --color4: #075985;
  --color-dark: #020817;
  --color-white: #ffffff;

  /* Text Colors */
  --color-text: #4b5563;
  --color-text-light: #6b7280;

  /* Border Colors */
  --border: 214.3 31.8% 91.4%;

  /*     Breakpoints      */
  --breakpoint-xxs: 400px; /* Extra extra small devices */
  --breakpoint-xs: 480px; /* Extra small devices */
  --breakpoint-sm: 640px; /* Small devices */
  --breakpoint-md: 768px; /* Medium devices */
  --breakpoint-md2: 834px; /* Tablets devices */
  --breakpoint-lg: 1024px; /* Large devices */
  --breakpoint-xl: 1280px; /* Extra large devices */
  --breakpoint-2xl: 1536px; /* 2X large devices */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
}

svg {
  fill: white;
  
}
a {
  text-decoration: none; /* opcional, remove sublinhado */
}
a:visited {
  color: var(--color4); /* ou qualquer cor fixa */
  
}