.tag {
  background-color: var(--color3);
  color: var(--color4);
  border-radius: 25px;
  padding: 4px 12px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;

}

.tag p,
.tag h1 {
  font-size: 14px;
  font-weight: 400;
}
