.specie__container {
  display: grid;
  width: 100%;

  color: var(--color-text);
}

.specie__header {
  padding: 48px 16px;
  background-color: var(--color2);
  display: grid;

  justify-items: center;
  gap: 16px;
  text-align: center;
  width: 100%;
}
.specie__title {
  color: var(--color4);
}
.specie__header__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.specie__cards__container {
  padding: 48px 16px;
  max-width: 1024px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-self: center;
}

  .specie__cards {
    max-width: 650px;
  }
  .specie__none {
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    font-size: 20px;
    color: var(--color-text);
  }
  .specie__none__subtext {
    color: var(--color-text-light);
    font-size: 16px
  }

@media screen and (min-width: 640px) {
  .specie__cards__container {
    gap: 24px;
  }

}

@media screen and (min-width: 768px) {
  .specie__cards__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .specie__cards {
    justify-self: center;
  }
  .specie__none {
    padding: 64px 16px;

  }
}

@media screen and (min-width: 1024px) {
  .specie__cards__container {
    grid-template-columns: repeat(3, 1fr);
  }
    .specie__none {
    padding: 96px 16px;

  }
}
