.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.category__card {
  width: 100%;
  padding: 16px;
}

.category__footer {
  width: 100%;
}


