.feedbackCard {
  padding: 24px;
  background-color: white;
  border: 1px solid hsl(var(--border));
  border-radius: 8px;
  max-width: 325px;
  max-height: 260px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}


.feedbackCard__user_container {
  display: flex;

  justify-content: flex-start;
  gap: 16px;

}

.feedbackCard_img {
  position: relative; /* necessário para Image com fill */
  width: 100%;
  aspect-ratio: 1/1;

  max-width: 50px;
  max-height: 50px;

  overflow: hidden;
  min-height: auto;
}

.image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  color: transparent;
  border-radius: 50%;
}

.feedbackCard__userName{
  color: var(--color4);
  font-size: 16px;
}
.feedbackCard__userProfile{
  margin-top: 8px;
  color: var(--color-text-light);
  font-size: 14px;
} 
.feedbackCard__feedback{
  color: var(--color-text);
  line-height: 24px;
  margin-top: 16px;
}