.petCard {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* 🎨 sombra suave */
  background-color: white;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  margin: 24px 0;
}

.petCard__image {
  position: relative; /* necessário para Image com fill */
  width: 100%;
  aspect-ratio: 1/1;
  margin: auto;
  overflow: hidden;
  min-height: auto;
}

.image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  color: transparent;
  border-radius: 8px´8px 0 0;
}

.petCard__friend {
  background-color: white;
  padding: 16px;
  min-height: 100%;
}

.petCard__name {
  color: var(--color4);
  font-size: 20px;
}

.petCard__info {
  color: var(--color-text-light);
  font-size: 14px;
  padding-top: 8px;
}
.petCard__text__container{
  height: 80px;
  overflow:hidden;
  padding-top: 8px;
}

.petCard__text { 
  line-height: 25px;
  color: var(--color-text);
}

.petCard__button {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.petCard__button a {
  text-decoration: none;

}
