.petCard {
  width: 100%;
  
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: white;
  overflow: hidden;
  transition: 
    box-shadow 0.3s ease,
    transform 0.3s ease; /* adiciona suavidade no movimento */
  margin: 24px 0;
}

.petCard:hover {
  transform: translateY(-8px); /* o card "sobe" levemente */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* sombra mais profunda */
}

.petCard__image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  margin: auto;
  overflow: hidden;
  min-height: auto;
}

.image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  color: transparent;
  border-radius: 8px´8px 0 0;
}
.petCard__image img {
  transition: transform 0.4s ease;
}

.petCard:hover .petCard__image img {
  transform: scale(1.05);
}

.petCard__friend {
  background-color: white;
  padding: 16px;
  min-height: 100%;
}

.petCard__name {
  color: var(--color4);
  font-size: 20px;
}

.petCard__info {
  color: var(--color-text-light);
  font-size: 14px;
  padding-top: 8px;
}
.petCard__text__container{
  height: 80px;
  overflow:hidden;
  padding-top: 8px;
}

.petCard__text { 
  line-height: 25px;
  color: var(--color-text);
}

.petCard__button {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.petCard__button a {
  text-decoration: none;

}
