.navbar {
  font-family: var(--font-inter);
  background-color: white;

  border: 1px solid hsl(var(--border));
  padding: 8px 16px;

  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1352px;
  margin-inline: auto;
  gap: 20px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--color1);
}
.navbar__links__list {
  display: none;
}

.navbar__title {
  font-weight: bold;
  font-size: 20px;
}
.navbar__btn__burger {
  display: block;
}
.navbar__mobile {
  background-color: white;
  position: fixed;
  top: 65px;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.navbar__mobile__btn {
  border-top: 1px solid hsl(var(--border));
  padding-top: 16px;
  margin: 0 16px;
}

@media screen and (min-width: 768px) {
  .navbar__links__list {
    display: flex;
    gap: 1rem;
  }
  .navbar__btn__burger {
    display: none;
  }
  .navbar__mobile {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    justify-content: space-around;
  }
}
