.profileCompatibility__title {
  color: var(--color1);
  font-size: 18px;
}

.profileCompatibility__container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.profileCompatibility__item {
  display: flex;
  gap: 8px;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .profileCompatibility__title {
    font-size: 20px;
  }
  .profileCompatibility__item{
    font-size: 16px;
  }
}
