.hero {
  background-color: var(--color2);
  padding: 48px 16px;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.hero__image {
  position: relative; /* necessário para Image com fill */
  width: 100%;
  aspect-ratio: 4/3;

  max-width: 500px;
  max-height: 375px;

  margin: auto;
  margin-inline: auto;
  overflow: hidden;
  min-height: auto;
  margin-top: 16px;
}
.image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  color: transparent;
  border-radius: 8px;
}

@media screen and (min-width: 480px) {
  .hero__buttons {
    flex-direction: row;
    gap: 0.5rem;
    max-width: fit-content;
    text-wrap: nowrap;
    margin: 1rem 0 1.5rem;
  }
}
