.contactInfo {
  width: 100%;
  max-width: 1400px;
  color: var(--color-text);
}
.contactInfo__header {
  max-width: 900px;
}
.contactInfo__header__title {
  font-size: 30px;
  line-height: 40px;
  color: var(--color4);
}
.contactInfo__header__text {
  margin-top: 16px;
  line-height: 24px;
}
.contactInfo__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0;
}
.contactInfo__list__item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.contactInfo__list__item__icon {
  font-size: 14px;
  color: var(--color4);
  

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  flex-shrink: 0;
  border-radius: 50%;
}
.contactInfo__list__item__title {
  color: var(--color4);
  font-weight: 500;
  font-size: 16px;
}
.contactInfo__list__item__text {
  line-height: 24px;
}
/* Estilo do aside */

.contactInfo__aside {
  background-color: white;
  border: 1px solid hsl(var(--border));
  border-radius:8px;
  padding: 16px;
  font-size: 14px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.contactInfo__aside__content span {
  color: var(--color4);
  font-size: 16px;
}
.contactInfo__aside__content p {
  margin-top: 4px;
}
.contactInfo__socials{
  display: grid;
  gap: 16px;
}
.contactInfo__title{
  color: var(--color4);
  font-size: 20px;
  font-weight: bold;
}
.contactInfo__socials__icons {
  display: flex;
  gap: 16px;
}
.contactInfo__socials__icon {
  background-color: var(--color2);
  padding: 12px;
  border-radius: 50%;
  

  display: flex;
  justify-content: center;
  align-items: center;

}
@media screen and (min-width: 640px) {
  .contactInfo{
    min-width: 496px;
  }
  .contactInfo__header__title {
    font-size: 36px;

  }
}
