.footer {
  padding: 24px 16px;
  color: var(--color-text-light);
}
.footer__logoName {
  color: black;
}
.footer__social__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.footer__social__icons {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}
.footer__fastlinks__list {
  list-style: none;

  font-size: 14px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__contact__info__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__contact__info {
  display: flex;
  align-items: start;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 16px;
}

.footer__newsletter__form {
  margin-bottom: 32px;
}

.footer__copyrights {
  border-top: 1px solid hsl(var(--border));
  margin: 16px 0;
  padding-top: 24px;
  font-size: 12px;
  text-align: center;
}

.footer__icon {
  flex-shrink: 0;
}

.footer__text {
  font-size: 14px;

  margin: 16px 0;
  line-height: 24px;
}

.footer__title {
  font-size: 18px;
  color: var(--color4);
  margin: 16px 0;
}
