.footer {
  padding: 24px 16px;
  color: var(--color-text-light);
}
.footer__sections {
  display: grid;
  grid-template-columns: 1fr;
}

.footer__social__logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 8px;
}

.footer__logoName {
  color: black;
  font-size: 20px;
  padding: 16px 0;
}

.footer__social__icons {
  display: flex;
  gap: 16px;
  margin: 16px 0;
}
.footer__fastlinks__list {
  list-style: none;

  font-size: 14px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__contact__info__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__contact__info {
  display: flex;
  gap: 8px;
  font-size: 14px;
}

.footer__newsletter__form {
  padding: 8px 0;
}

.footer__copyrights {
  border-top: 1px solid hsl(var(--border));
  margin: 16px 0;
  padding-top: 24px;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.footer__copyrights a{
  color: var(--color1);
  
}

.footer__icon {
  flex-shrink: 0;
}

.footer__text {
  font-size: 14px;
  line-height: 24px;
}

.footer__title {
  font-size: 18px;
  color: var(--color4);
  margin: 16px 0;
}
.footer__fastlinks__link a {
  text-decoration: none;
  color: var(--color-text-light);

}
.footer__fastlinks__link a:hover {
  color: var(--color4);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    padding: 48px 24px;
    grid-template-columns: repeat(2, 1fr);

    justify-content: start;
    align-items: start;
    gap: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__sections {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    display: grid;
    align-items: start;
  }
}
