.navbar {
  font-family: var(--font-inter);
  background-color: white;

  
  border: 1px solid hsl(var(--border));
  padding: 8px 16px;

  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1352px;
  margin-inline: auto;
  gap: 20px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.navbar__links__list {
  display: none;
}
.navbar__list {
  list-style: none;

  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  font-weight: bold;
}
.navbar__link a {
  color: var(--color-dark);
  font-size: 14px;
  text-decoration: none;
}

.navbar__link a:hover {
  color: var(--color1);
}

.navbar__title {
  font-weight: bold;
  font-size: 20px;
}
.navbar__btn__burger {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar__links__list {
    display: flex;
    gap: 1rem;
  }
  .navbar__btn__burger {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    justify-content: space-around;
  }
}
