.adopt__form {
  padding: 48px 16px;
  color: var(--color-text);

  border-bottom: 1px solid hsl(var(--border));
  
}
.adopt__form__wrapper {
  width: 100%;
  max-width: 1024px;
  display: grid;
  margin-inline: auto;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .adopt__form {
    padding: 96px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .adopt__form {
    padding: 128px 24px;
  }
  .adopt__form__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
