.donation {
  background-color: var(--color1);
  padding: 48px 16px;
}
.donation__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.donation__text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-bottom: 16px;
}

.donation__text {
  color: var(--color3);
}
.donation__button_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.donation__note {
  margin-top: 8px;
  color: var(--color3);
  font-size: 12px;
  text-align: center;

}
