.findFriend {
  color: var(--color-text);
  background-color: var(--color2);
  padding: 48px 16px;
  width: 100%;
}
.findFriend__wrapper {
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
}

.findFriend__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.findFriend__header__title {
  margin-top: 16px;
  font-size: 30px;
  line-height: 40px;
  color: var(--color4);
  text-align: center;

}
.findFriend__header__description {
  max-width: 900px;  
  margin-top: 16px;
  font-size: 16px;
  color: var(--color-text);
  line-height: 24px;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .findFriend__header__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .findFriend {
    padding: 96px 24px;
  }
  .findFriend__header__title {
    font-size: 48px;
  }
  .findFriend__header__description {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .findFriend{
    padding: 128px 24px;
  }
  .findFriend__header__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .findFriend__header__description {
    font-size: 20px;
  }
}
