.transparency {
  padding: 48px 16px;
  width: 100%;
  color: var(--color-text);
  background-color: var(--color2);
}
.transparency__wrapper {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
}

.transparency__header {
  margin-bottom: 16px;
}
.transparency__header__title {
  margin-top: 16px;
  font-size: 24px;
  line-height: 40px;
  color: var(--color4);
}

.transparency__header__text {
  max-width: 900px;
  margin-top: 16px;
  font-size: 16px;
  color: var(--color-text);
  line-height: 24px;

}

.transparency__cards {
  margin-top: 24px;
  display: grid;
  gap: 24px;
}

@media screen and (min-width: 640px) {
  .transparency__header__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .transparency {
    padding: 96px 24px;
  }

  .transparency__header__text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .transparency {
    padding: 128px 24px;
  }
  .transparency__header__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .transparency__header__text {
    font-size: 20px;
  }
}