.team {
  padding: 48px 16px;
  font-family: var(--font-inter);
}

.team__wrapper {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;

}
.team__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.team__header__title {
  margin-top: 16px;
  font-size: 30px;
  color: var(--color4);
  text-align: center;
}

.team__header__description {
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
  color: var(--color-text);
  line-height: 24px;
}
.team__members{
  display: grid;
  margin-top: 48px;
  gap: 32px;

  list-style: none;
}

@media screen and (min-width: 640px) {
  .team__header__title {
    font-size: 36px;
  }
  .team__header__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    padding: 96px 24px;
  }
  .team__header__description {
    font-size: 20px;
  }
  .team__members{
    grid-template-columns: repeat(2, 1fr);

  }
}


@media screen and (min-width: 1024px) {
  .team {
    padding: 128px 24px;
  }
  .team__header__description {
    font-size: 16px;
  }
  .team__members{
    grid-template-columns: repeat(3, 1fr);

  }
}

@media screen and (min-width: 1280px) {
 
  .team__header__description {
    font-size: 20px;
  }

}